{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block top_menu %}
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link link-dark" aria-current="page" href="#">Minha conta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-dark" href="#">Meus pedidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-dark" href="#">Meus favoritos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-dark" href="#" tabindex="-1" aria-disabled="true">Login</a>
        </li>
    </ul>
{% endblock %}

{% block search_bar %}
    <div class="mb-3">
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="O que está procurando?">
    </div>
{% endblock %}

{% block side_menu %}
    <ul class="list-group">
        {% for item in category %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="nav-link link-dark" href="{{url_for("home.main", category_id=item.id)}}"> {{item.name}} ({{item.id}})</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block product_list %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item in product %}
            <div class="col">
                <div class="card h-100 text-center">
                    {% for image in item.picture %}
                        <center><img src="/img/{{image.name}}"></center>
                    {% endfor %}
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.description}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}