<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>
        Loja online
    </title>
    </head>
    <body>
    <div class="background">
        <!-- Menu -->
        <nav class="navbar navbar-light" style="background-color: yellow;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="/img/logo.png" alt="" width="40" height="30" class="d-inline-block align-text-top">&nbsp;&nbsp;&nbsp;Sua loja online</a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-cart4"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Menu -->
        {{ form.csrf_token() }}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link link-dark" aria-current="page" href="#"><i class="bi bi-person-circle"></i>&nbsp;Minha conta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-dark" href="#"><i class="bi bi-clipboard2"></i>&nbsp;Meus pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-dark" href="{{ url_for("list_cart") }}"><i class="bi bi-cart4"></i>&nbsp;Carrinho ({{ session["CART_IN"] | length }})</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-dark" href="#" tabindex="-1" aria-disabled="true"><i class="bi bi-box-arrow-in-right"></i>&nbsp;Login</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="mb-3">
                    <form name="formHome" method="POST" action="/" novalidate>
                    {{ form.searchbar(class="form-control", placeholder="O que está procurando?") }}
                    </form>
                </div>
            </div>        
            <div class="row">
                <div class="col-2">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a class="nav-link link-dark" href="{{ url_for("home", category_id=0) }}">Todos</a>
                        </li>    
                        {% for item in category %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="nav-link link-dark" href="{{url_for("home", category_id=item.id) }}"> {{item.name }} ({{ item.total }})</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-10">{% block page_contents %}{% endblock %}</div>
            </div>
        </div>

    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>