{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block top_menu %}
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link link-dark" aria-current="page" href="#">Minha conta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-dark" href="#">Meus pedidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-dark" href="#">Carrinho</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-dark" href="#" tabindex="-1" aria-disabled="true">Login</a>
        </li>
    </ul>
{% endblock %}

{% block search_bar %}
    <div class="mb-3">
    {{ form.searchbar(class="form-control", placeholder="O que está procurando?") }}
    </div>
{% endblock %}

{% block side_menu %}
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a class="nav-link link-dark" href="{{ url_for("home", category_id=0) }}">Todos</a>
        </li>    
        {% for item in category %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="nav-link link-dark" href="{{url_for("home", category_id=item.id) }}"> {{item.name }} ({{ item.total }})</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block product_list %}
    {% if action == "list" %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in products %}
                <div class="col">
                    <div class="card h-100 text-center">
                        {% for image in product.picture %}
                            {% if image.type == 1: %}
                                <center>
                                    <a href="{{ url_for("product", id=product.id) }}" class="nav-link link-dark">
                                        <img src="/img/{{ image.name }}" width="{{ image.width }}" heigth="{{ image.heigth }}">
                                    </a>    
                                </center>
                            {% endif %}                            
                        {% endfor %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ url_for("product", id=product.id) }}" class="nav-link link-dark">
                                    {{ product.name }}
                                </a>
                            </h5>                        
                            <p class="card-text">
                                {% if product.discount > 0: %}
                                    <s>{{ "R${:,.2f}".format(product.discount).replace(".", ",")  }}</s><br>
                                {% endif %}
                                {{ "R${:,.2f}".format(product.price).replace(".", ",") }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if action == "product" %}
        <div class="card">
            <div class="row">
                <div class="col-md-6">
                    {% for image in product[0].picture %}
                        {% if image.type == 2: %}
                            <center><img src="/img/{{ image.name }}" width="{{ image.width }}" heigth="{{ image.heigth }}" ></center>
                        {% endif %}
                    {% endfor %}        
                </div>
                <div class="col-md-6">
                    <br>
                    <h5 class="card-title"><p><h5>{{ product[0].name }}</h5></p></h5>                 
                    <p class="card-text">{{ product[0].description }}</p>
                    <p class="card-text">
                        {% if product[0].discount > 0: %}
                            <s>{{ "R${:,.2f}".format(product[0].discount).replace(".", ",") }}</s><br>
                        {% endif %}
                        {{ "R${:,.2f}".format(product[0].price).replace(".", ",") }}
                    </p>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}