{% extends 'base.html' %}

{% block page_contents %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
            <div class="col">
                <div class="card h-100 text-center">
                    {% for image in product.picture %}
                        {% if image.type == 1: %}
                            <center>
                                <img src="/img/{{ image.name }}" width="{{ image.width }}" heigth="{{ image.heigth }}">
                            </center>
                        {% endif %}                            
                    {% endfor %}
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ url_for("product", id=product.id) }}" class="nav-link link-dark">
                                {{ product.name }}
                            </a>
                        </h5>                        
                        <p class="card-text">

                            {% if product.discount > 0: %}
                                <s>{{ "R${:,.2f}".format(product.discount).replace(".", ",")  }}</s><br>
                            {% else: %}                                
                                <br>
                            {% endif %}

                            {% if product.amount == 0: %}
                                Esgotado
                            {% else: %}
                                {{ "R${:,.2f}".format(product.price).replace(".", ",") }}
                                <a href="{{ url_for("product", id=product.id) }}" class="nav-link link-dark">
                                    <input class="btn btn-primary btn-sm" id="select" name="select" type="button" value="Selecionar">
                                </a>                                
                            {% endif %}

                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}